<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>mphasis.serveletdemo</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployServlet</display-name>
    <servlet-name>AddEmployServlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.AddEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployServlet</servlet-name>
    <url-pattern>/AddEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmploySerachServlet</display-name>
    <servlet-name>EmploySerachServlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.EmploySerachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmploySerachServlet</servlet-name>
    <url-pattern>/EmploySerachServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployservlet</display-name>
    <servlet-name>AddEmployservlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.AddEmployservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployservlet</servlet-name>
    <url-pattern>/AddEmployservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employShowAllServlet</display-name>
    <servlet-name>employShowAllServlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.employShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employShowAllServlet</servlet-name>
    <url-pattern>/employShowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employshowAllServlet</display-name>
    <servlet-name>employshowAllServlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.employshowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employshowAllServlet</servlet-name>
    <url-pattern>/employshowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployServlet</display-name>
    <servlet-name>DeleteEmployServlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.DeleteEmployServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployServlet</servlet-name>
    <url-pattern>/DeleteEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployservlet</display-name>
    <servlet-name>UpdateEmployservlet</servlet-name>
    <servlet-class>mphasis.serveletdemo.UpdateEmployservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployservlet</servlet-name>
    <url-pattern>/UpdateEmployservlet</url-pattern>
  </servlet-mapping>
</web-app>